<%= render 'layouts/header' %>

<div class="row">
	<div class="col-xs-12  col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
		<%= render 'layouts/tabs' %>
	</div>
</div>

<div class="row">
	<div class="col-xs-12  col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

			<h3>Cookies</h3>

			<h4>What about cookies on this site?</h5>

			<p>My dear friend! Be happy and free! Thee are no cookies used by this site. But in common future situation will be changed.  </p>
			<%= image_tag "cookies.jpg", class: "img-responsive"%>

			
    </div>
</div>

<%= render 'layouts/footer' %>