<%= render 'layouts/header' %>

<div class="row">
	<div class="col-xs-12  col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
		<%= render 'layouts/tabs' %>
	</div>
</div>

<div class="row">
	<div class="col-xs-12  col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<h3>Cookies</h3>

			<div class="media">
			  <div class="media-left media-top">
			    	<%= image_tag "cookies.jpg", class: "media-object img-responsive img-circle", alt: "Some cookies were used for creating this website!",size: "100x100"%>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">About cookies at this website</h4>
			    	<p>Some cookies were used for creating this website! Feel free to eat cookies till you're there!</p>
			  </div>
			</div>
    </div>
</div>

<%= render 'layouts/footer' %>