<%= render 'layouts/header' %>

<div class="section white">
    <div class="row container">
      <h2 class="header">Cookies</h2>
      <p class="grey-text text-darken-3 lighten-3">My dear friend! Be happy and free! Thee are no cookies used by this site. But in common future situation will be changed.</p>
      <%= image_tag "cookies.jpg", class: "responsive-img"%>
    </div>
</div>