<%= render 'layouts/header' %>

<div class="row">
  <div class="col s8 offset-s2">
    <% @news.each do |item| %>
      <ul class="collection">
       <li class="collection-item avatar">
          <%= image_tag item.image, class: "circle", width: "60px" %>
          <span class="title">From: <em>Korrespondent.net</em></span>
          <p>
            <%= link_to item.title, item.url %>
          </p>
        </li>
      </ul>
    <% end %>
  </div>
</div>