textarea {
	resize: none;
  height: 150px;
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

main {
   flex: 1 0 auto;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

button {
  margin-top: 15px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.userdescription {
  margin-top: 10px;
  margin-bottom: 10px;
}

.userbox {
  border: 1px;
  border-radius: 5px;
}