<nav>
  <div class="nav-wrapper purple darken-1">
    <a class="brand-logo" href="#!">
    	<%= image_tag "nw.png", size: "64x64" %>
    </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><%= link_to "Add news", addnews_path %></li>
       <li><%= link_to "History", allnews_path %> </li>
       <li><%= link_to "Rules", rules_path %> </li>
      </ul>
    </div>
</nav>