<ul class="nav nav-tabs">
  <li class="<%= 'active' if current_page?(rules_path) %>"><%= link_to "Home", rules_path %></li>
  <li class="<%= 'active' if current_page?(cookies_path) %>"><%= link_to "About", cookies_path %></li>
</ul>